p{
    color: rgb(179, 173, 173);
}
.stickymain{
    display: flex;
}
.stickyleft{
    height: 400px;
    position: sticky;
    top: 100px;
}
.stickyright{
   
    display: flex;
    flex-direction: column;
gap: 20px;
}
.con1{
    border-bottom: 2px solid rgb(38, 147, 224);

}
.expertise-card{
    margin-bottom: 0px;
}
.menu-item{
    border-bottom: 2px solid rgb(38, 147, 224);
}